node_modules/
dist/
.next/
out/
build/
.env
.DS_Store
coverage/
.vscode/
*.log
mosquitto/data/
mosquitto/log/
certs/
deploy.tar.gz
*.crt
*:Zone.Identifier
mosquitto/config/mosquitto_nossl.conf
public/assets/Screenshot*
FUOTA_IMPROVEMENT_PLAN.md
